<div class="card text-center">
  <div class="card-header">
    <h2>Editor Login</h2>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card-body">
        <img src="/images/Node-red-icon.png" class="img-fluid">
      </div>
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <form method="post" action="/users/login">
        <div class="form-group">
          <label class="card-title">Username</label>
          <input type="text" class="form-control" name="username" placeholder="Username">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-outline-danger">Submit</button>
        </div>
      </form>
      </div>
    </div>
  </div>
<div class="card-footer text-muted">
    Access your Node-Red Flows here
</div>
</div>

<script>
 document.getElementById('navEditor').classList.add('active');
</script>